<p-dataView #dv [value]="SubCategories" [paginator]="true" [rows]="6"
 paginatorPosition="both" filterBy="Name" layout="grid">
    <p-header>
      <div class="row">
    
      <div class="col-md-4">
       <input type="text" class="form-control SearchInput" size="50"
       placeholder="Search By Name" (input)="dv.filter($event.target.value)">
      </div>
        </div>
        
    </p-header>
    <ng-template let-Subcategory pTemplate="gridItem">
        <div class="p-col-12 col-md-4 itemCard" 
        [routerLink]="['/Products',Subcategory.ID]">
          <p-card >
             <h5 class="ItemName" >{{Subcategory.Name}}</h5>
            <img [src]="Subcategory.Image" [style]="{'text-align':'center'}" class="img-thumbnail">
            <br>
          </p-card>
        </div>
    </ng-template>
</p-dataView>