<p-dataView #dv [value]="SubCategories" [paginator]="true" [rows]="6"
 paginatorPosition="both" filterBy="Name" layout="grid">
    <p-header>
      <div class="row">
    
      <div class="col-md-4">
       <input type="text" class="form-control" size="50"
       placeholder="Search By Name" (input)="dv.filter($event.target.value)">
      </div>
  
      <div class="col-md-8" style="text-align:right">
        <!-- <p-dataViewLayoutOptions></p-dataViewLayoutOptions> -->
      </div>

      </div>
        
    </p-header>
    <!-- <ng-template let-Subcategory pTemplate="listItem">
        <div [routerLink]="['/Products', Subcategory.ID]">        
            <div class="row group-details">
                <div>
                    <img [src]="Subcategory.Image" style="margin-left: 10px;margin-right: 10px;" 
                    class="img-thumbnail" width="300" height="150">
                  </div>
                  <div class="ui-md-9">
                    <div class="p-grid">
                        <div class="p-col-12">
                             <b>{{ Subcategory.Name}}</b></div>
                             
                                <br>                      
                    </div>
                  </div>
                   
                  <hr width="90%">
            </div>    
        </div>
    </ng-template> -->
    <ng-template let-Subcategory pTemplate="gridItem">
        <div style="padding:.5em" class="p-col-12 col-md-4" [routerLink]="['/Products',Subcategory.ID]">
          <p-card>
            <h5 style="text-align: center;color:red">{{Subcategory.Name}}</h5>
            <img [src]="Subcategory.Image" [style]="{'text-align':'center'}" class="img-thumbnail">
            <br>
          </p-card>
        </div>
    </ng-template>
</p-dataView>