<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
        <!-- Page Content  -->
      <div id="content" class="p-3 p-md-6">
        <nav class="navbar navbar-expand-lg bg-light" >
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button> 
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
             aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"> <a routerLink="/Categories" class="nav-link">Categories</a></li>
                <li class="nav-item"> <a routerLink="/SubCategories/0" class="nav-link">SubCategories</a></li>
                <li class="nav-item"> <a routerLink="/Products/0" class="nav-link">Products</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <router-outlet></router-outlet>
  </div>
		</div>

  </body>
</html>