html {
    font-family: sans-serif;
    line-height: 8.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  
a {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        color: #f8b739; }

a:hover, a:focus {
          text-decoration: none !important;
          outline: none !important;
          -webkit-box-shadow: none;
          box-shadow: none; }
      
      
.navbar {
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }
      
.wrapper {
 width: 100%; }

a[data-toggle="collapse"] {
position: relative; }   

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  
  @media (max-width: 991.98px) {
    #sidebarCollapse span {
      display: none; } }
  
  #content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  
    .navbar a{
color: #f8b739;
font-size: 16px;
font-weight: bold;
    }

    .navbar a:hover{
      color: #E77833;
      
          }

  .btn.btn-primary {
    background: #2B7F9B;
    border-color: #2B7F9B; }
    
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background: #f8b739 !important;
      border-color: #f8b739 !important; }
  
  .footer p {
    color: rgba(255, 255, 255, 0.5); }
  